/* BabyProdCat.css */
.baby-prod-cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
   }
   
   .category {
    flex: 1;
    min-width: 300px;
    margin-bottom: 20px;
   }
   
   h1, h2 {
    margin-bottom: 10px;
   }
   
   ul {
    list-style-type: none;
    padding-left: 0;
   }
   
   li {
    margin-bottom: 5px;
   }
   /* Styles for the links */
   .baby-prod-cat a {
    text-decoration: none;
    color: black; 
    transition: color 0.3s ease;  
   }
   
   .baby-prod-cat a:hover, .baby-prod-cat a:active {
    color: blue; 
   }
   