/* CSS for the Categories component */
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 13px; /* Reduced gap between flex items */
    padding: 5px; /* Padding around the flex container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a minimal shadow */
}

.categories a {
    text-decoration: none; /* Removes the default underline from links */
    color: inherit; /* Inherits text color from parent */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; /* Needed for hover effects */
    overflow: hidden; /* Ensures the text does not overflow the link */
    background-color: #f8f9fa; /* Background color for each flex item */
    padding: 5px; /* Adds some space inside each flex item */
    border-radius: 5px; /* Rounded corners for each flex item */
    width: calc(25% - 20px); /* Adjusts the width of each flex item for 4 items per row */
    min-width: 200px; /* Ensures items don't get too small */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Add a shadow to each flex item */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.categories img {
    width: 100%; /* Full width of the flex item */
    height: auto; /* Maintains the aspect ratio of the image */
    object-fit: cover; /* Ensures the image covers the available space without stretching */
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.categories span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
    color: white; /* Text color */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.categories a:hover img {
    transform: translateY(-10px); /* Moves the image slightly upwards on hover */
}

.categories a:hover span {
    transform: translateY(-50%); /* Moves the text from bottom to middle on hover */
}

/* Responsive design */
@media (max-width: 768px) {
 .categories a {
    width: calc(50% - 20px); /* Adjusts to 2 items per row on small screens */
 }
}

@media (max-width: 480px) {
 .categories a {
    width: 100%; /* Full width on very small screens */
 }
}