.shoe-categories-title {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    padding-top: 80px;
}

.shoe-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 45px;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 350px;
    padding: 55px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    margin-bottom: 20px;
    border-radius: 20px;
    margin-right: 35px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for hover effect */
}

.category-card:hover {
    transform: scale(1.05); /* Slightly scale up the card on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increase the box shadow on hover */
}

.category-card h2 {
    text-align: center;
    margin: 10px 0;
    color: blue;
}

.category-card ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0px 0 0;
    text-align: center;
}

.category-card ul li {
    margin-bottom: 5px;
    text-align: center;
    color: black;
}

.category-card ul li:hover {
    color: green;
}

.category-card ul li a {
    text-decoration: none;
    color: inherit;
}

/* .category-card ul li a:hover {
    color: green;
} */

@media only screen and (max-width: 768px) {
    .category-card {
        width: 150px;
        height: 360px;
        padding: 20px;
    }
}
