.he1 {
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  text-align: center;
  margin-bottom: 20px;
 }

 .ofp-container {
  white-space: nowrap;
  overflow-x: auto;
 }
 
 .ofp-product-card {
  display: inline-block;
  margin: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.head3{
  white-space: normal; 
  word-wrap: break-word;
  overflow-wrap: break-word; 
  max-width: 100%; 
}

 .head3 a, .ofp-product-card a{
  font-weight:450;
  text-decoration: none;
  color: black;
  margin-top: 0px;
 }

 .product-details a:hover, .head3 a:hover, .ofp-product-card a:hover{
  color: grey;
 }
 .product-details a, .ofp-product-card a {
  text-decoration: none;
  margin-top: 10px;
  color:black
 }
 
 .ofp-product-image {
  height: 220px;
  width: 220px;
  object-fit:contain;
  border-radius: 10px;
 }

 /* .nav-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
 }
 
 .nav-button:hover {
  background-color: #0056b3;
 }
 
 .prev-button {
  float: left;
 }
 
 .next-button {
  float: right;
 } */
 