.he1 {
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  text-align: center;
  margin-bottom: 20px;
 }

 .ofp-container {
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

 /* .product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: wrap;
  /* max-width: 100%; Ensure the container has a defined width */
  */

.head3{
  white-space: normal; 
  word-wrap: break-word;
  overflow-wrap: break-word; 
  max-width: 100%; 
}

 .head3 a, .ofp-product-card a{
  font-weight:450;
  text-decoration: none;
  color: black;
  margin-top: 0px;
 }


 .product-details a:hover, .head3 a:hover, .ofp-product-card a:hover{
  color: grey;
 }
 .product-details a, .ofp-product-card a {
  text-decoration: none;
  margin-top: 10px;
  color:black
 }
/* Adjust the gap between cards within a slide */
.ofp-product-card {
  display: inline-block;
  gap: 10PX;
  margin-right: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-pack: center;
    /* -ms-flex-pack: center; */
    display: -webkit-box;
    /* display: -ms-flexbox; */
    display: flex;
    /* height: 200px; */
    justify-content: center;
    position: relative;
}

/* Adjust the gap between individual slides */
/* .slick-slide {
  margin-left: 10px; /* Adjust the margin as needed */
/* */


 
 .ofp-product-image {
  height:100%;
  width: 100%;
  object-fit:contain;
  border-radius: 10px;
 }

 .categories-container {
  position: relative;
 }
 
 .next-arrow, .prev-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background: rgba(255, 255, 255, 0.5); Adjust background for overlay effect */
  color: rgb(255, 255, 255); /* Adjust text color */
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  height: 40px;
  width: 40px;
  border-radius: 80px;
 }
 
 .next-arrow {
  right: 0;
  height: 40px;
  width: 40px;
 }
 
 .prev-arrow {
  left: 0;
  height: 40px;
  width: 40px;
 }
 
 img{
  height: 40px;
  width: 40px;
 }

   /* the slides */
   /* .slick-slide {
    margin: 0 27px;
} */

/* the parent */
/* .slick-list {
    margin: 0 -27px;
} */
 
/* a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
} */


@media (max-width: 600px) {
  .slick-slide {
     margin-right: 5px; /* Smaller gap for smaller screens */
   }
 }
 




