.he1 {
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #111111;
  display: inline-block; 
  width: auto;
 }

 .ofp-all-container{
   background-color: #f4f1ea;
   padding-left:30px; 
   padding-right:30px;
   padding-bottom:50px;
   padding-top:30px;
 }
 .title-align{
  display: flex;
  justify-content: center;
 }
 .ofp-container {
  padding-top:30px;
  overflow-x: auto;
  white-space: nowrap;
 }
 
 .ofp-product-card {
  display: inline-block;
  margin: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.head3{
  white-space: normal; 
  word-wrap: break-word;
  overflow-wrap: break-word; 
  max-width: 100%; 
  margin-top: -5px;
}

 .head3 a, .ofp-product-card a{
  font-weight:450;
  text-decoration: none;
  color: black;
  margin-top: 0px;
 }

 .product-details a:hover, .head3 a:hover, .ofp-product-card a:hover{
  color: grey;
 }
 .product-details a, .ofp-product-card a {
  text-decoration: none;
  margin-top: 0px;
  color:black
 }
 
 .ofp-product-image {
  height: 200px;
  width: 200px;
  object-fit:contain;
  border-radius: 10px;
 }

