.he1 {
font-size: 30px; 
color: black;
font-weight: 450; 
text-align: left; 
margin-bottom: 20px;
margin-left: 10px;
}
.brands {
display: flex;
flex-wrap: wrap;
justify-content:center;
gap: 20px; 
}

.brand-logo {
width: 130px;
height: 90px;
margin: 10px; 
text-align: center;
}

.brand-logo img {
width: 140px;
height: 140px; 
object-fit: contain; 
}

.brand-logo a {
text-decoration: none; 
color: inherit;
margin:0px;
padding:0px; 
}

.brand-logo a:hover {
opacity: 0.8; 
}