.vertical-nav {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000; 
   transition: top 0.3s;
  }
  
  .hide-icon {
   display: none;
  }
  
  .drawer-header {
   display: flex;
   align-items: center;
   padding: 8px;
   justify-content: flex-end;
  }
  
  .vertical-nav .MuiIconButton-root {
   position: absolute;
   top: 10px; 
   left: 10px;
  }
  