.react-slideshow-container .default-nav {
    background: none; /* Ensure no background */
    border: none; /* Ensure no border */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000; /* Set the color of the arrow */
    transition: transform 0.3s ease;
    cursor: pointer; /* Ensure the cursor changes to a pointer on hover */
}

.react-slideshow-container .default-nav:hover {
    transform: scale(1.1); /* Slightly enlarge on hover for a subtle effect */
}

/* Style the SVG to ensure it fills the button */
.react-slideshow-container .default-nav svg {
    fill: currentColor; /* Use the current text color for the arrow */
    width: 100%; /* Ensure SVG fills the button */
    height: 600px; /* Ensure SVG fills the button */
}

/* Styles for previous arrow */
.react-slideshow-container .default-nav[data-type="prev"] {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Styles for next arrow */
.react-slideshow-container .default-nav[data-type="next"] {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Hover effects */
.react-slideshow-container .default-nav:hover {
    color: #007bff; /* Change arrow color on hover */
}
.overlay-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}
.slide-content {
    width: 100%; /* Set a fixed width */
    height: 400px; /* Set a fixed height */
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    overflow: hidden; /* Ensure the image is not cut off */
    position: relative; /* Needed for absolute positioning of pseudo-element */
    padding-top: 10px;
    /* border-radius: 14px; */
}

/* Pseudo-element for the top part of the slide */
.slide-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 400px;
    background-image: inherit;
    background-position: center top; 
    z-index: -1; 
}

/* Slideshow container */
.slideshow-container {
    padding-top: 50px;
    max-width: 100%;
    margin: 10px auto;
}

@media only screen and (max-width: 480px) {
    .slide-content {
        width: 100%;
        height: 300px; /* Adjusted height for smaller screens */
        background-size: contain; /* Ensure the entire image is visible */
        background-position: center; /* Center the image */
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;
        padding-top: 0; /* Remove top padding for smaller screens */
    }
}